.coursePlayer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.870588);
}

.coursePlayer .play {
    display: none;
}

.coursePlayer .paused {
    display: block;
}

.coursePlayer #video {
    width: auto !important;
    height: 720px !important;
    min-width: initial !important;
}

@media screen and (max-height: 720px) {
    .coursePlayer #video {
        height: 480px !important;
    }
}

@media screen and (max-height: 480px) {
    .coursePlayer #video {
        height: 360px !important;
    }
}

.button-controller {
    float: right;
    display: inline-block;
}

@media screen and (max-width: 720px) {
    .button-controller {
        float: none;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 2s linear infinite;
}

.disabledList {
    background: none !important;
}