.button-controller {
    float: right;
    display: inline-block;
}

@media screen and (max-width: 720px) {
    .button-controller {
        float: none;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.rotating {
    animation: rotating 2s linear infinite;
}