@font-face {
    font-family: Gotham;
    src: url("../font/Gotham-Medium.otf") format("opentype");
}

body {
    font-family: Gotham;
    margin: 0px;
}

.navBar {
    background-color: #3e474f !important;
}

.navBar h1 {
    color: #b2bbbd !important;
    font-family: Gotham !important;
}

.navBar .material-icons {
    margin-right: 24px !important;
    font-size: 48px !important;
    color: #5fcf80 !important;
}

.breadcrumb {
    text-decoration: none;
    cursor: pointer;
    color: #576366;
}

.breadcrumb:hover, .breadcrumb:focus {
    color: #268266 !important;
}

.breadcrumb .material-icons {
    color: #97a3a6 !important;
    top: 7px;
}